:root {
  --cell-size: 20px;
  --field-width: 5;
  --field-height: 10;
}

.settings {
  overflow: auto;
  margin: 0 auto;
  padding: 2rem 2rem;
  border: 3px solid #333333;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
}

.settings-block {
  padding: 2px 2px;
}

.cell-legend {
  display: inline-block;
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid #333333;
  border-radius: 10% 10% 10% 10%;
}

.live-game-container {
  width: calc(calc(var(--cell-size) + 2px) * var(--field-width));
  overflow: auto;
  margin: 0 auto;
  padding: 2rem 2rem;
  display: grid;
  grid-template-columns: repeat(var(--field-width), auto);
  grid-template-rows: repeat(var(--field-height), auto);
  gap: 0;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid #333333;
  border-radius: 10% 10% 10% 10%;
}

.cell:hover {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid #333333;
  border-radius: 10% 10% 10% 10%;
  background-color: aqua;
}

.dead {
  background-color: aliceblue;
}

.alive {
  background-color: black;
}

.mark-for-dead {
  background-color: grey;
}

.mark-for-alive {
  background-color: blue;
}

.context-menu-open {
  display: none;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  background-color: white;
  border-radius: 4px;
  padding: 4px;
}

.context-menu-open ul {
  padding: 0;
  margin: 0;
}

.context-menu-open ul li {
  cursor: pointer;
  list-style: none;
  padding: 10px 12px;
  margin: 0;
  border-bottom: 1px solid #bfe2ff;
}

.context-menu-open ul li:last-child {
  border-bottom: 1px solid transparent;
}

.context-menu-open ul li:hover {
  background-color: #bfe2ff;
}
